/* ===========================
   Layout: Main Container
   =========================== */
#main-container {
  display: grid;
  grid-template-rows: 10% 15% 65% 10%; /* Top / Nav / Middle / Bottom */
  height: 100vh;
  width: 100vw;
}
