/* ===========================
   Layout: Main Container
   =========================== */
#main-container {
  display: grid;
  grid-template-rows: 10% 15% 65% 10%; /* Top / Nav / Middle / Bottom */
  height: 100vh;
  width: 100vw;
}

.download-btn{
  color :white;
  border: white 1px dashed;
  border-radius: 30px;
  padding: 5px;
  margin-top: 19px;
  display: block ;
  position: inherit;
  background-color: black;
  z-index: 10;
  position: fixed;
  right: 2%;
  top: 0%;
  font-size: 19px;
  font-style: bold;
  cursor: pointer;
}